.container {
	padding: 5%;
	padding-left: 5%;
	width: 82%;
}
.circle{
	height: 60px;
	width: 60px;
	  border-radius:35px;
	  -webkit-box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.51);
	box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.51);
	align-self: center;
}

.rect .fa{
	margin-top: 5%;
}

.rect{
		border-radius:10px;
		margin: 3%;
		height: 55px;
		justify-content: center;
		-webkit-box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.51);
	box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.51);
	align-self: center;
	padding-top:0;
}
.person {
	margin: 5%;
	margin-left: 7%;
	margin-bottom: 2%;
	display: block;
	align-items: center;
	justify-content: center;
}

.name{
	margin-top: 10%;
  font-size:14px;
}
.fa{
  font-size: 28px;
  position: relative;
  margin-top: 25%;
}

.fa-check, .fa-remove, .fa-exclamation {
	color: #fff;
}

.nameList {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.nameListWrapper {
	width: 100%;
	-webkit-box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.51);
box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.51);
padding: 5%;

}

input {
	font-size: 16px;
	padding: 8px 15px;
	outline: none;
	border: 0;
	border-bottom: 2px solid #0057e0;
}
